#page-wraper {
	padding: 0px !important;
}
.top-bar {
	padding: 3% 2%;
}
.full {
	float: left;
	width: 100%;
	overflow: hidden;
}
.page-auth {
	display: flex;
	min-height: 100vh;
}
.page-auth > div {
	width: 50%;
	box-sizing: border-box;
}
.form {
	margin: 20px auto;
	margin-bottom: 50px;
	max-width: 80%;
	padding: 5px;
	position: relative;
	overflow: hidden;
}
label {
	float: left;
	width: 100%;
	padding: 0.5rem 0px;
	font-size: 0.94rem;
	box-sizing: border-box;
}
label i {
	float: right;
	width: auto;
	padding: 5px;
	color: var(--divider);
	font-weight: 400;
}
input,
textarea,
select {
	box-sizing: border-box;
	float: left;
	width: 100%;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 5px;
	padding: var(--inp-padding);
	border-radius: var(--radius);
	background: var(--inp-bg);
	color: var(--color-text);
	border: 1px solid var(--inp-border);
	transition: all 0.6s;
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
	background: linear-gradient(var(--bg), var(--bg)) padding-box, linear-gradient(to right, var(--inp-border-focus), darkorchid) border-box;
	border: 1px solid transparent;
	border-radius: var(--radius);
	box-shadow: var(--inp-shadow-focus);
}
button {
	box-sizing: border-box;
	float: right;
	margin: 20px 0px;
	color: var(--btn-color);
	background: var(--btn-bg);
	border: 1px solid var(--btn-border);
	padding: var(--btn-padding);
	border-radius: var(--radius);
	font-size: 1rem;
	cursor: pointer;
}
button:hover {
	filter: brightness(1.4);
}
.link-left {
	float: left;
	margin-top: 20px;
}
.link-right {
	float: right;
	margin-top: 20px;
}
.alert-info {
	float: left;
	width: 100%;
	padding: 1rem 1.5rem;
	color: #008800;
	background: #00880011;
	font-size: 0.9rem;
}
.alert-error {
	float: left;
	width: 100%;
	padding: 1rem 1.5rem;
	color: #ff2233;
	background: #ff223311;
	font-size: 0.9rem;
}
.auth-image {
	position: fixed;
	top: 3%;
	right: 1%;
	width: 48%;
	height: 94%;
	border-radius: var(--radius);
	object-fit: cover;
}
.term-of-services {
	float: left;
	padding: 10px 0px;
	font-size: 0.8rem;
}

@media (max-width: 768px) {
	.page-auth .left {
		width: 100%;
		box-sizing: border-box;
	}
	.page-auth .right {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	.auth-logo {
		content: url('@/assets/auth-logo-dark.png');
	}
}
