/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
	/* Width 1920 */
	--font-family-base: 'Poppins', 'Segoe UI', sans-serif;
	--font-family-mono: 'Fira Code', Consolas, monospace;
	--font-root: 20px;
	--padding-root: 2rem;
}

/* semantic color variables for this project */
:root {
	/* bg */
	--bg: #ffffff;
	--bg-soft: #f5f5f5;

	/* text */
	--color: #0055ff;
	--color-text: #111111;

	/* divider */
	--divider: #e1e6ef;

	/* button */
	--btn-bg: #0055ff;
	--btn-color: #ffffff;
	--btn-border: #0055ff;
	--btn-shadow: transparent;
	--btn-padding: 1rem 2.5rem;

	--btn-bg-hover: #0033ff;
	--btn-color-hover: #ffffff;
	--btn-border-hover: #0033ff;
	--btn-shadow-hover: 0px 1px 3px rgba(0, 0, 0, 0.05);

	/* input */
	--inp-bg: transparent;
	--inp-color: #111;
	--inp-border: #e1e6ef;
	--inp-shadow: transparent;
	--inp-placeholder: #999;
	--inp-padding: 1rem 1.5rem;

	--inp-bg-hover: transparent;
	--inp-color-hover: #111;
	--inp-border-hover: #e1e6ef;
	--inp-shadow-hover: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);

	--inp-bg-focus: transparent;
	--inp-color-focus: #111;
	--inp-border-focus: #0055ff;
	--inp-shadow-focus: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);

	/* styles */
	--section-gap: 160px;
	--radius: 5px;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* bg */
		--bg: #0a0a0a;
		--bg-soft: #111111;

		/* text */
		--color-text: #fdfdfd;
		--color: #0055ff;

		/* divider */
		--divider: #282828;

		/* button */
		--btn-bg: #0055ff;
		--btn-color: #ffffff;
		--btn-border: #0055ff;
		--btn-shadow: transparent;

		--btn-bg-hover: #0033ff;
		--btn-color-hover: #ffffff;
		--btn-border-hover: #0033ff;
		--btn-shadow-hover: 0px 1px 3px rgba(0, 0, 0, 0.05);

		/* input */
		--inp-bg: transparent;
		--inp-color: #fdfdfd;
		--inp-border: #282828;
		--inp-shadow: transparent;
		--inp-placeholder: #282828;

		--inp-bg-hover: transparent;
		--inp-color-hover: #fefefe;
		--inp-border-hover: #fefefe;
		--inp-shadow-hover: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);

		--inp-bg-focus: transparent;
		--inp-color-focus: #fefefe;
		--inp-border-focus: #0055ff;
		--inp-shadow-focus: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);

		/* styles */
		--btn-padding: 1rem 1.5rem;
		--inp-padding: 1rem 1.5rem;
		--section-gap: 160px;
		--radius: 5px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	outline: 0px none transparent;
	text-decoration: none;
}

html {
	font-size: var(--font-root);
	font-family: var(--font-family-base);
	margin: 0;
	padding: 0px;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--bg);
	transition: color 0.5s, background-color 0.5s;
	margin: 0;
	padding: 0px;
	overflow-y: scroll;
}

input,
textarea,
select {
	outline: none;
}

::placeholder {
	color: var(--inp-placeholder) !important;
	font-family: var(--font-family-base);
	font-size: 1rem;
	font-weight: 500;
}
