@import './base.css';

#app {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
}

#page-wraper {
	box-sizing: border-box;
	min-height: 100vh;
	max-width: 1920px;
	padding: 0px 2rem;
	margin: 0 auto;
}

a {
	text-decoration: none;
	transition: 0.4s;
	color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	float: left;
	width: 100%;
}

@media (max-width: 1600px) {
	:root {
		--font-root: 18px;
	}

	#page-wraper {
		max-width: 1600px;
	}
}

@media (max-width: 1280px) {
	:root {
		--font-root: 15px;
	}

	#page-wraper {
		max-width: 1280px;
	}
}

@media (max-width: 1024px) {
	:root {
		--font-root: 14px;
	}

	#page-wraper {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	:root {
		--font-root: 14px;
	}

	#page-wraper {
		max-width: 100%;
	}
}
